/* General styling for the form container */
.form{
    background-color: bisque;
    text-align: center;
    width: 30%;
    margin: 120px;
    padding: 50px;
    border: 2px yellow;
}
body{
    background-color: black;
    
}
h1{
    margin: 120px;
    padding: 50px;
    color:brown
}
